.main-transaction {
  flex: 1;
  background-color: #dfe6ed;

  .info-transaction {
    background-color: white;
    border: 3px solid #dfe6ed;

    .title {
      margin-bottom: 0;
    }

    .sub-title {
      margin: 8px 0;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .balance {
      margin: 0 0 8px;
    }
  }

  .transaction-layout {
    margin: 5rem auto 2rem;
    width: 80%;

    .title-layout {
      width: 100%;
      display: flex;
      margin-bottom: 1rem;

      div {
        width: 25%;
        text-transform: uppercase;
        font-size: 0.9rem;
      }

      .red {
        display: flex;

        .icon {
          width: 3rem;
        }

        .full-width {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
